# Ignore python bytecode files
*.pyc
*.egg-info

# Ignore emacs backup files
*~

# Ignore python egg-info files
*.egg-info/

# Ignore python build and dist dirs
averager/pyAverager/build/
mpi_utils/pyTools/build/
mpi_utils/pyTools/dist/
ilamb/ilamb/dist/

# Ignore cesm-env2
cesm-env2/

# Ignore za binary, fortran object and mod files
*.o
*.mod
*.so

# Ignore zonal average binary, makefile and link
ocn_diag/tool_lib/za
ocn_diag/tool_lib/zon_avg/za
ocn_diag/tool_lib/zon_avg/makefile

# ignore any .svn files
.svn*
