
<br/>

<table class="plot">
<tr>
<th colspan="2">Glossary</th>
</tr>
<tr>
  <td id="word">ADVS</td>
  <td>Vertically-Integrated S Advection Tendency</td>
<tr>
</tr>
  <td id="word">ADVT</td>
  <td>Vertically-Integrated T Advection Tendency</td>
<tr>
</tr>
  <td id="word">BSF</td>
  <td>Diagnostic barotropic streamfunction</td>
</tr>
<tr>
  <td id="word">EVAP_F</td>
  <td>Evaporation Flux from Coupler</td>
</tr>
<tr>
  <td id="word">FW</td>
  <td>Freshwater Flux</td>
</tr>
<tr>
  <td id="word">HBLT</td>
  <td>Boundary-Layer Depth</td>
</tr>
<tr>
  <td id="word">HDIFS</td>
  <td>Vertically-Integrated Horz Diff S tendency</td>
</tr>
<tr>
  <td id="word">HDIFT</td>
  <td>Vertically-Integrated Horz Diff T tendency</td>
</tr>
<tr>
  <td id="word">HMXL</td>
  <td>Mixed-Layer Depth</td>
</tr>
<tr>
  <td id="word">LWDN_F</td>
  <td>Longwave Heat Flux (dn) from Coupler</td>
</tr>
<tr>
  <td id="word">LWUP_F</td>
  <td>Longwave Heat Flux (up) from Coupler</td>
</tr>
<tr>
  <td id="word">MELTH_F</td>
  <td>Melt Heat Flux from Coupler</td>
</tr>
<tr>
  <td id="word">MELT_F</td>
  <td>Melt Flux from Coupler</td>
</tr>
<tr>
  <td id="word">PD</td>
  <td>Potential Density Ref to Surface</td>
</tr>
<tr>
  <td id="word">PREC_F</td>
  <td>Precipitation Flux from Cpl (rain+snow)</td>
</tr>
<tr>
  <td id="word">Q</td>
  <td>Static Stability (d(rho(p_r))/dz)</td>
</tr>
<tr>
  <td id="word">QSW_HBL</td>
  <td>Solar Short-Wave Heat Flux in bndry layer</td>
</tr>
<tr>
  <td id="word">QSW_HTP</td>
  <td>Solar Short-Wave Heat Flux in top layer</td>
</tr>
<tr>
  <td id="word">RESID_S</td>
  <td>Free-Surface Residual Flux (S)</td>
</tr>
<tr>
  <td id="word">RESID_T</td>
  <td>Free-Surface Residual Flux (T)</td>
</tr>
<tr>
  <td id="word">RHO</td>
  <td>In-Situ Density</td>
</tr>
<tr>
  <td id="word">ROFF_F</td>
  <td>Runoff Flux from Coupler</td>
</tr>
<tr>
  <td id="word">SALT</td>
  <td>Salinity</td>
</tr>
<tr>
  <td id="word">SALT_F</td>
  <td>Salt Flux from Coupler (kg of salt/m^2/s)</td>
</tr>
<tr>
  <td id="word">SENH_F</td>
  <td>Sensible Heat Flux from Coupler</td>
</tr>
<tr>
  <td id="word">SFWF</td>
  <td>Virtual Salt Flux in FW Flux formulation</td>
</tr>
<tr>
  <td id="word">SHF</td>
  <td>Total Surface Heat Flux, Including SW</td>
</tr>
<tr>
  <td id="word">SHF_QSW</td>
  <td>Solar Short-Wave Heat Flux</td>
</tr>
<tr>
  <td id="word">SNOW_F</td>
  <td>Snow Flux from Coupler</td>
</tr>
<tr>
  <td id="word">SSH</td>
  <td>Sea Surface Height</td>
</tr>
<tr>
  <td id="word">SU</td>
  <td>Vertically Integrated Velocity in grid-x direction</td>
</tr>
<tr>
  <td id="word">SV</td>
  <td>Vertically Integrated Velocity in grid-y direction</td>
</tr>
<tr>
  <td id="word">TAUX</td>
  <td>Windstress in grid-x direction</td>
</tr>
<tr>
  <td id="word">TAUY</td>
  <td>Windstress in grid-y direction</td>
</tr>
<tr>
  <td id="word">TBLT</td>
  <td>Minimum Boundary-Layer Depth</td>
</tr>
<tr>
  <td id="word">TEMP</td>
  <td>Potential Temperature</td>
</tr>
<tr>
  <td id="word">TFW_S</td>
  <td>S flux due to freshwater flux (kg of salt/m^2/s)</td>
</tr>
<tr>
  <td id="word">TFW_T</td>
  <td>T flux due to freshwater flux</td>
</tr>
<tr>
  <td id="word">TMXL</td>
  <td>Minimum Mixed-Layer Depth</td>
</tr>
<tr>
  <td id="word">UES</td>
  <td>Salt Flux in grid-x direction</td>
</tr>
<tr>
  <td id="word">UET</td>
  <td>Flux of Heat in grid-x direction</td>
</tr>
<tr>
  <td id="word">UVEL</td>
  <td>Velocity in grid-x direction</td>
</tr>
<tr>
  <td id="word">VNS</td>
  <td>Salt Flux in grid-y direction</td>
</tr>
<tr>
  <td id="word">VNT</td>
  <td>Flux of Heat in grid-y direction</td>
</tr>
<tr>
  <td id="word">VVEL</td>
  <td>Velocity in grid-y direction</td>
</tr>
<tr>
  <td id="word">WTS</td>
  <td>Salt Flux Across Top Face</td>
</tr>
<tr>
  <td id="word">WTT</td>
  <td>Heat Flux Across Top Face</td>
</tr>
<tr>
  <td id="word">WVEL</td>
  <td>Vertical Velocity</td>
</tr>
<tr>
  <td id="word">XBLT</td>
  <td>Maximum Boundary-Layer Depth</td>
</tr>
<tr>
  <td id="word">XMXL</td>
  <td>Maximum Mixed-Layer Depth</td>
</tr>
</table>

<hr>
<br/>
<br/>

<div id="logos">
  <img src="../logos/nsf1sm.gif"/>
  <img src="../logos/ncar-logo-sm.jpg"/>
  <img src="../logos/doe_logo.jpg"/>
  <span class="stretch"></span>
</div>

</div>
</html>
