<h3>{{ title }}</h3>

<table class="plot">
    <tr>
    {% for label, plot in plot_table.iteritems() %}
        {% if 'Error' in plot %}
           <td>{{ label }}</td>
        {% else %}
           <td><a href="{{ plot }}.{{ imgFormat }}">{{ label }}</a></td>
        {% endif %}
    {% endfor %}	 
    </tr>
</table>

<hr>
