<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<link rel="SHORTCUT ICON"
      href="http://www.cgd.ucar.edu/Images/atmos/favicon.png">
<title>CESM Ocean Diagnostics Plots</title>

<!-- STYLESHEET -->
<link rel="stylesheet" type="text/css" href="diag_style.css" />

</head>

<div id="wrap">

<h2>CESM Ocean Diagnostics Plots</h2>
<p>
  <table class = "meta">
    <tr>
      <td>CESM Version:</td> 
      <td>{{ tagname }}</td>
    </tr>
    <tr>
      <td>
	<table class = "meta">
	  <tr>
	    <td>Case Name:</td>
	    <td>{{ casename }}</td>
	  </tr>
	  <tr>
	    <td>Years:</td> 
	    <td>{{ start_year }} - {{ stop_year }}</td>
	  </tr>
	</table>
      </td>

      {% if control_casename|length > 0 %}
      <td>
	<table class = "meta">
	  <tr>
	    <td>Control Case Name:</td>
	    <td>{{ control_casename }}</td>
	  </tr>
	  <tr>
	    <td>Control Years:</td> 
	    <td>{{ control_start_year }} - {{ control_stop_year }}</td>
	  </tr>
	</table>
      </td>
      {% endif %}
    </tr>
  </tr>
</table>
</p>
<hr>
<ul>
  {% for key, value in diag_dict.iteritems() %}
     {% if value %}
        <li><a href="./{{ value }}">{{ value }}</a></li>
     {% else %}
        <li>{{ key }} - no plots available</li>
     {% endif %}
  {% endfor %}
</ul>


<hr>
<br/>
<br/>

<div id="logos">
  <img src="./logos/nsf1sm.gif"/>
  <img src="./logos/ncar-logo-sm.jpg"/>
  <img src="./logos/doe_logo.jpg"/>
  <span class="stretch"></span>
</div>

</html>
