<h3>{{ title }}</h3>

{% for table_header, plot_table_list, cols in plot_tables %} 
   <table class="plot">
   <th colspan="{{ cols }}">{{ table_header }}</th>
   {% for plot_table in plot_table_list %}
      <tr>	     
      {% for label, t in plot_table %}
	  {% if 'Error' in t %}
              <td>{{ label }}</td>
          {% elif t == '' %}
	      <td></td>
          {% else %}
              <td><a href="{{ t }}.{{ imgFormat }}">{{ label }}</a></td>
          {% endif %}
      {% endfor %}	
      </tr>
   {% endfor %}	
   </table>
   <br/>
{% endfor %}

<hr>
