<h3>{{ title }}</h3>

<table class="plot">
<th colspan="{{ cols }}">2D Fields (Lat, Lon)</th>
{% for t in plot_table %}
    <tr>
    {% for i in t %}
        {% if 'Error' in i %}
           <td>{{ i }}</td>
        {% elif i == '' %}
           <td></td>
        {% else %}
           <td><a href="{{ i }}.{{ imgFormat }}">{{ i }}</td>
        {% endif %}
    {% endfor %}
    </tr>
{% endfor %}
</table>

<p/>
<table class="plot">
<th colspan="{{ cols }}">Global Zonal Average</th>
{% for t in plot_za_table %}
    <tr>
    {% for i in t %}
        {% if 'Error' in i %}
           <td>{{ i }}</td>
        {% elif i == '' %}
           <td></td>
        {% else %}
           <td><a href="{{ i }}.{{ imgFormat }}">{{ i }}</td>
        {% endif %}
    {% endfor %}
    </tr>
{% endfor %}
</table>

<hr>
