@charset "UTF-8";
/* CSS Document */

html {
   margin:0;
   padding:0;
}

a img{
    border: none;
}

a { 
    color: #0000dd;
}

p {
    margin: 0 0 20px;
    line-height: 21px;
}

#logos {
    margin-left: auto; 
    margin-right: auto;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

#logos img {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.plot table {
    margin: 0px 0px 10px 10px;
    padding: 0px 0px 5px 5px
}
                                                                                                                                                              
.plot th {
    border: 0px;
    font-family: Arial;
    font-size: 12pt;
    line-height: 14pt;
    letter-spacing: 0;
    text-align: left;
    color: #686762;
    padding: 0px 0px 3px 3px;
}
          
.plot tr {
    border: 0px;
    font-family: Arial;
    font-size: 9pt;
    line-height: 11pt;
    letter-spacing: 0;
    text-align: left;
    color: #686762;
    padding: 0px 0px 3px 3px;
}

.plot td {
    border: 0px;
    font-family: Arial;
    font-size: 9pt;
    line-height: 11pt;
    letter-spacing: 0;
    text-align: left;
    color: #686762;
    padding: 4px 4px 2px 2px;
}

.meta table {
    margin: 0px 0px 5px 5px;
    padding: 0px 0px 2px 2px
}
                                                      
.meta th {
    border: 0px;
    font-family: Arial;
    font-size: 12pt;
    line-height: 14pt;
    letter-spacing: 0;
    text-align: left;
    color: #686762;
    padding: 0px 0px 3px 3px;
}
          
.meta tr {
    border: 0px;
    font-family: Arial;
    font-size: 10pt;
    line-height: 11pt;
    letter-spacing: 0;
    text-align: left;
    color: #686762;
    padding: 0px 0px 1px 1px;
}

.meta td {
    border: 0px;
    font-family: Arial;
    font-size: 10pt;
    line-height: 11pt;
    letter-spacing: 0;
    text-align: left;
    color: #686762;
    padding: 2px 2px 1px 1px;
}

#word {
    color: #202020;
}

#wrap {
   width:800px;
   margin:0 auto;
}
