#PBS -N {{ processName }}
#PBS -q {{ queue }}
#PBS -l nodes={{ pes }}:ppn={{ ppn }}
#PBS -l walltime={{ wallclock }}
#PBS -o {{ processName }}.stdout
#PBS -e {{ processName }}.stderr

. /opt/modules/default/init/sh
