#! /bin/bash -l

#SBATCH -n {{ pes }}
#SBATCH -N {{ nodes }}
#SBATCH --ntasks-per-node={{ ppn }}
#SBATCH -t {{ wallclock }}
#SBATCH -p dav
#SBATCH -J {{ processName }}
#SBATCH -A {{ project }}
#SBATCH -C {{ queue }}
#SBATCH --mem {{ memory }}
#SBATCH -e {{ processName }}.err.%J
#SBATCH -o {{ processName }}.out.%J

