#BSUB -n {{ pes }}
#BSUB -R "span[ptile=15]"
#BSUB -q regular
#BSUB -N
#BSUB -a poe
#BSUB -x
#BSUB -o {{ processName }}.stdout.%J
#BSUB -e {{ processName }}.stderr.%J
#BSUB -J CESM_postprocessing
#BSUB -W 02:00
#BSUB -P {{ project }} 

. /glade/apps/opt/lmod/lmod/init/bash
