#PBS -N {{ processName }}
#PBS -q {{ queue }}
#PBS -l select={{ nodes }}:ncpus={{ ppn }}:mpiprocs={{ ppn }}
#PBS -l walltime={{ wallclock }}
#PBS -A {{ project }}

. /glade/u/apps/ch/opt/lmod/7.2.1/lmod/lmod/init/bash

export I_MPI_DEVICE=rdma
export MPI_UNBUFFERED_STDIO=true
