#! /usr/bin/env bash
##########
##
## See https://github.com/NCAR/CESM_postprocessing/wiki for details
## regarding settings for optimal performance for CESM postprocessing tools.
##
##########

{{ batchdirectives }}

if [ ! -e {{ virtualEnvDir }} ]; then
    echo "*************************************************************************************"
    echo "CESM {{ processName }} exiting due to non-existant python virtual environment in"
    echo "    {{ virtualEnvDir }}"
    echo "You must first run:"
    echo "$SRCROOT/postprocessing/create_python_env.sh -machine [machine]"
    echo "*************************************************************************************"
    exit
fi

{% for module in reset_modules %}
{{ module }}
{% endfor %}

cd {{ virtualEnvDir }}
pwd
. activate

{% for module in modules %}
{{ module }}
{% endfor %}

{% if pythonpath|length > 0 %}
PYTHONPATH={{ pythonpath }}:$PYTHONPATH
export PYTHONPATH
{% endif %}

today="$(date '+%Y%m%d-%H%M%S')"
log_filename={{ caseRoot }}/logs/{{ processName }}.log.$today

{% if imb_run %}
{{ imb_env_vars }}
{{ mpirun }} {{ imb_run }} {{ imb_options }} >> ${log_filename} 2>&1
{% elif standalone %}
{{ mpirun }} ./{{ postProcessCmd }} {{ debug }} {{ backtrace }} --caseroot {{ caseRoot }} --standalone {{ cmdl_opt }} >> ${log_filename} 2>&1
{% else %}
{{ mpirun }} ./{{ postProcessCmd }} {{ debug }} {{ backtrace }} --caseroot {{ caseRoot }} >> ${log_filename} 2>&1
{% endif %}

