#! /usr/bin/env bash
#
# template to activate the virtualenv, call post process program, deactivate virtualenv
#

{{ batchdirectives }}

if [ ! -e {{ virtualEnvDir }} ]; then
    echo "*************************************************************************************"
    echo "CESM {{ processName }} exiting due to non-existant python virtual environment in"
    echo "    {{ virtualEnvDir }}"
    echo "You must first run:"
    echo "$SRCROOT/postprocessing/create_python_env.sh -machine [machine] -cimeroot [$CIMEROOT]"
    echo "*************************************************************************************"
    exit
fi

cd {{ virtualEnvDir }}
pwd
. activate

{% for module in modules %}
{{ module }}
{% endfor %}

echo "******************************************"
echo "Start {{ processName }} generation $(date)"
echo "******************************************"

{{ mpirun }} ./{{ postProcessCmd }} {{ debug }} {{ backtrace }} --caseroot {{ caseRoot }} >> {{ caseRoot }}/{{ processName }}.log 2>&1

echo "******************************************"
echo "End {{ processName }} generation $(date)"
echo "******************************************"

deactivate
cd {{ caseRoot }}

